sentence-transformers
pandas
numpy==2.1
scipy
scikit-learn
lightgbm
matplotlib
psycopg2-binary
python-dotenv
playwright
fastapi==0.110.2
uvicorn==0.28.0
resend
httpx
shap
python-jose[cryptography]
pytest
python-multipart
xgboost
joblib
stripe
tabulate
openai